* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: balance;
    font-family: chillen;
    letter-spacing: 2px;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #333;
}

.overlay-color{
    border-image: linear-gradient(rgba(0, 0, 255, 0.589), rgb(0, 0, 26)) fill 1;
}

body {
    width: 100%;
    background-color: #ffffff;
    color: #333;
    height: 100%;
}

/* Header */

header {
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;

}

nav {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 46px 75px -19px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px 46px 75px -19px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 46px 75px -19px rgba(0, 0, 0, 0.29);
    z-index: 1000;
    color: #000;
    background-color: #ffffff;



}

ul {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}
.logo a{
    font-family: 'bogart trial';
    font-weight: 600;
    background-color: rgba(0, 0, 255, 0.692);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 7px 24px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    transition: all .3s ease;
    border: none;
}

button:hover {
    transform: translateY(-3px);
}

.nav-btn {
    background-color: rgba(0, 0, 255, 0.692);
    color: #fff;
}

.nav-btn:hover {
    background-color: blue;
    color: #fff;
}

/* End of Header */

/* Hero section */
#hero {
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/pexels-rombo-1510555-3477581.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: #fff;
    /* height: 36vh; */
    background-color: rgba(168, 72, 8, 0);
    width: 100%;
    height: 30vh;
    padding: 1rem 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr);
    place-content: center; */
    z-index: 0;

}

@media(max-width:768px) {

    .hero-content {
        grid-template-columns: 1fr;
        height: 45vh;
        text-align: center;
        background-color: rgba(168, 72, 8, 0);
        /* backdrop-filter: blur(30px); */
        /* border-top-left-radius: 200px;
        border-top-right-radius: 200px;
 */
    }

    .hero-title h1 {
        font-size: 1.3rem;
        text-align: center;

    }

    .hero-detail{
        display: flex;
        flex-direction: column;align-items: center;
        
    }

    .hero-text {
        padding-bottom: 10px;
        font-weight: 200;
        line-height: 1;
    
    }
    

}

.main-title h1 {
    /* width: 100%;
    height: 100%;
    border: 1px solid;
    font-size: clamp(100px, 10rem, 224px);
    text-transform: uppercase;
    text-align: center; */
    text-shadow: -5px 0px 7px rgba(0,0,0,0.24);
    font-size: clamp(2rem, 280px, 15vw);
    line-height: 1.1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    text-align: center;
    font-family: falheiz;

    /* background-image: linear-gradient(35deg,white,rgb(243, 243, 243));
    background-clip: text;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

}

.hero-detail {
    max-width: 900px;
    z-index: 2;
    backdrop-filter: blur(10px);
    /* background-color:#00000049; */
    padding: 10px;
    box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid; */
}

.hero-text {
    padding-bottom: 20px;
    font-weight: 200;
    line-height: 1;
    text-align: center;

}

.hero-buttons {
    display: flex;
    gap: 10px;
}

.hero-btn1 {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    ;
    color: #fff;
}

.hero-btn2 {
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
}

/* End Of Hero Section */