* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: balance;
    font-family: 'chillen';
    letter-spacing: 2px;
    line-height: 1.7;
}

/* CSS HEX */
:root{
--black: #02010aff;
--oxford-blue: #04052eff;
--federal-blue: #140152ff;
--navy-blue: #22007cff;
--duke-blue: #0d00a4ff;
}

/* CSS HSL */

:root{--black: hsla(247, 82%, 2%, 1);
--oxford-blue: hsla(239, 84%, 10%, 1);
--federal-blue: hsla(254, 98%, 16%, 1);
--navy-blue: hsla(256, 100%, 24%, 1);
--duke-blue: hsla(245, 100%, 32%, 1);

}

:root{
    /* CSS HEX */
--oxford-blue: #00072dff;
--penn-blue: #001c55ff;
--royal-blue-traditional: #0a2472ff;
--bice-blue: #0e6ba8ff;
--non-photo-blue: #a6e1faff;

}

@font-face {
    font-family: 'falheiz';
    src: url(fonts/falheizregular-l3pne.ttf);
}

@font-face {
    font-family: 'chillen';
    src: url(fonts/Chillen.ttf);
}

@font-face {
    font-family: 'bogart trial';
    src: url(fonts/Bogart-Regular-trial.ttf);
}

a {
    text-decoration: none;
    color: #333;
}

button{
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}

button:hover{
    transform: translateY(-3px);
}

.overlay-color{
    border-image: linear-gradient(rgba(0, 0, 255, 0.589), rgb(0, 0, 26)) fill 1;
}

.ovelay-color-music{
    border-image: linear-gradient(rgba(0, 0, 255, 0.589), rgb(0, 0, 26)) fill 1;
}

body {
    width: 100%;
    background-color: #ffffff;
    color: #333;
    height: 100%;
    background-image: url(assets/images/pexels-rombo-1510555-3477581.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Header */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.navbar {
    display: flex;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3%;
    max-width: 100%;
    transition: all .3s ease-in;
}

/* Hide header on scroll down */
.header.hide {
    transform: translateY(-100%);
}

.logo a{
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        background-color: rgb(0, 0, 53);
        padding: 8px;
        font-family: 'bogart trial';
        border-radius: 5px;
    }
/* Navigation Links */
.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 1rem;
    transition: all .3s ease;
    padding: 0 8px;
    border-radius: 5px;
}

.nav-links a:hover {
    color: #007bff;
    background-color: #e7e7e7;
}

/* Hamburger Button */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 27px;
    height: 2px;
    background-color: blue;
    transition: all 0.3s ease;
}

.login-button {
    border: none;
    background-color: blue;
    color: #fff;
}

.login-button:hover{
    background-color: rgb(0, 0, 173);
}

/* Responsive Breakpoints */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.637);
        backdrop-filter: blur(15px);
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    /* Show mobile menu when active */
    .nav-links.active {
        display: flex;
    }


}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* End of Header */



/* Hero section */
#hero {
    width: 100%;
    height: 100dvh;
    /* background-image: url(assets/images/pexels-rombo-1510555-3477581.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: #fff;
    background-color: rgba(168, 72, 8, 0);
    width: 100%;
    height: 100%;
    padding: 1rem 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

@media(max-width:768px) {

    .hero-content {
        grid-template-columns: 1fr;
        height: 45vh;
        text-align: center;
        background-color: rgba(168, 72, 8, 0);
    }

    .hero-title h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .hero-detail{
        display: flex;
        flex-direction: column;align-items: center;
    }

    .hero-text {
        padding-bottom: 10px;
        font-weight: 200;
        line-height: 1;
    }
    

}

.main-title h1 {
    text-shadow: -5px 0px 7px rgba(0,0,0,0.24);
    font-size: clamp(2rem, 280px, 15vw);
    line-height: 1.1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    text-align: center;
    font-family: 'falheiz';
}

.hero-title{
    color: #eee;
}

.hero-detail {
    max-width: 900px;
    z-index: 2;
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px -31px 75px -19px rgba(0, 0, 0, 0.29);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    padding-bottom: 20px;
    font-weight: 200;
    line-height: 1;
    text-align: center;
}

.hero-buttons {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 15px;  
}

.hero-btn1 {
    background: var(--non-photo-blue);
}

.hero-btn1:hover{
    background-color: rgb(38, 104, 226);
    color: #fff;
}
.hero-btn2 {
    background-color: transparent;
    color: #fff;
    padding: 7px 25px;
    border: 1px #fff solid;
}

/* End Of Hero Section */

/* MUSIC SECTION */

/* Music Section Styles */
#music {
    padding: 40px 20px;
    text-align: center;
}


#music h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 40px;
}


.music-list {
    display: flex;
    border: 1px solid #ffffff34;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5px;

}

@media(max-width:768px){
    .music-list{
        flex-direction: column;
    }
}



.track {
    background-color: #f4f4f410;
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.track h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ccc;
}


audio {
    width: 100%;
    /* background-color: #007bff; */
}

/* STREAMING LINKS */

.streaming-links {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.streaming-links a {
    padding: 8px;
    background: #3333331f;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #f50057;
    transition: all .3s ease;
}

.streaming-links a:nth-child(1) {
    color: #1db954;
}

.streaming-links a:nth-child(2) {
    color: #fc3c44;
}

.streaming-links a:nth-child(3) {
    color: #00a0c6;
}

.streaming-links a:nth-child(4) {
    color: #ff0000;
}

.streaming-links a:hover {
    background: #555;
    transform: translateY(-2px);
}
